@charset "UTF-8";
@font-face {
  font-family: 'Lavanderia Regular';
  src: url("../font/Lavanderia/Lavanderia Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI';
  src: url("../font/SegoeUI/SegoeUI.eot");
  src: local("☺"), url("../font/SegoeUI/SegoeUI.woff") format("woff"), url("../font/SegoeUI/SegoeUI.ttf") format("truetype"), url("../font/SegoeUI/SegoeUI.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url("../font/Alte Haas Grotesk/AlteHaasGroteskRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Alte Haas Grotesk';
  src: url("../font/Alte Haas Grotesk/AlteHaasGroteskBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Univers LT-Light';
  src: url("../font/Univers-LT-Light/Univers-LT-45-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px; }

.banner__ellipse--small, .banner__ellipse--large, .social__icon {
  position: absolute;
  top: 50%;
  left: 50%; }

.page {
  max-width: 1920px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.page__container {
  max-width: 960px;
  min-width: 300px;
  margin: 0px auto;
  height: 100%; }

.header {
  min-height: 5.4rem;
  background-color: rgba(255, 255, 255, 0.767);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2; }

.header__container {
  align-items: center;
  display: flex; }

.header__logo {
  margin-right: auto; }

.logo {
  align-items: center; }

.logo__word {
  font-family: 'Lavanderia Regular';
  font-size: 2.5em; }

.logo__word--black {
  color: #000000; }

.logo__word--pink {
  color: #b73958; }

.nav {
  display: flex; }

.nav__item {
  padding-right: 2em; }

.nav__link {
  color: #827f7f;
  text-decoration: none;
  font-family: 'Segoe UI'; }

.login {
  padding: 0.1em 0.9em;
  background-color: #de6d6e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.login__text {
  color: white;
  font-family: 'Segoe UI'; }

.login__link {
  text-decoration: none; }

.banner {
  height: 38rem;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%; }

.banner__content {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5.4rem;
  padding-top: 5.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }

.banner__ellipse-wrapper {
  position: relative;
  width: 100%;
  height: 25%; }

.banner__ellipse {
  background-color: rgba(255, 255, 255, 0.664);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.banner__ellipse--small {
  width: 5.1em;
  height: 5.1em;
  transform: translate(-50%, -50%); }

.banner__ellipse--large {
  width: 7.3em;
  height: 7.3em;
  transform: translate(-100%, -50%); }

.banner__ellipse--medium {
  width: 5.75em;
  height: 5.75em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -100%); }

.banner__header {
  font-family: 'Alte Haas Grotesk';
  font-weight: bold;
  color: white;
  font-size: 5em;
  line-height: 1em;
  padding-top: 1.6rem;
  text-transform: uppercase; }

.banner__text {
  color: white;
  font-size: 1.5em;
  padding-top: 0.8rem;
  font-family: 'Univers LT-Light'; }

.propositions {
  text-align: center;
  font-family: 'Univers LT-Light';
  padding-top: 3em;
  padding-bottom: 2.5em;
  border-bottom: 2px solid #e9e9e9; }
  .propositions__header {
    font-size: 2em;
    font-family: inherit;
    color: #404040; }
  .propositions__subheader {
    color: #acacac;
    height: 3.6em;
    line-height: 1.2em;
    overflow: hidden;
    margin-top: 1.3em;
    font-family: inherit;
    word-wrap: break-word;
    hyphens: auto;
    text-indent: -20%;
    padding-left: 20%;
    padding-right: 5%; }
  .propositions__circles {
    margin-top: 5.3em; }

.circles {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  .circles__item {
    width: 11.25em;
    height: 11.25em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center; }
  .circles__item--tickets {
    background-color: #4eb9f4; }
  .circles__item--camera {
    background-color: #6fc125; }
  .circles__item--beer {
    background-color: #ff5649; }
  .circles__item--devices {
    background-color: #e48f23; }

.circle__content {
  position: absolute;
  bottom: 20%;
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }

.circle__img {
  width: 100%;
  display: block;
  min-width: 30px;
  height: auto; }

.circle__img--beer {
  max-width: 68px;
  max-height: 85px; }

.circle__description {
  color: white;
  margin-bottom: -0.4em; }

.circle__description--beer {
  color: rgba(255, 255, 255, 0.452); }

.text-over {
  font-family: inherit;
  height: 7.5em;
  width: 100%;
  line-height: 1.2em;
  font-size: 0.75em;
  color: white;
  height: 85%;
  top: 4%;
  left: 0px;
  position: absolute;
  overflow: hidden;
  overflow-wrap: break-word;
  text-align: left; }

.news-feed {
  padding: 2em 0em 2em 2em; }

.news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em; }
  .news__img-wrapper {
    width: 15em; }
  .news__img {
    width: 100%;
    height: auto; }
  .news__content {
    width: 74%;
    font-family: 'Univers LT-Light';
    padding-left: 1.7em; }
  .news__header {
    font-size: 1.6em;
    margin-bottom: 0.3em;
    color: #404040; }
  .news__text {
    color: #949494;
    hyphens: auto;
    line-height: 1.5em;
    font-size: 0.9em; }

.footer {
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: auto;
  min-height: 16em; }
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__submenus {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 2em; }
  .footer__social-and-copyright {
    flex-basis: 30%;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: -1.5em; }

.submenu--wide {
  flex-basis: 19%; }

.submenu__header {
  color: #818081;
  font-size: 1.4em;
  margin-bottom: 0.5em; }

.submenu__item {
  text-decoration: none;
  color: #818081;
  font-size: 1em;
  line-height: 1.4em;
  display: block; }

.social {
  display: flex;
  justify-content: space-around; }
  .social__item {
    display: block;
    width: 3.25em;
    height: 3.25em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #818081;
    position: relative; }
  .social__icon {
    position: absolute;
    transform: translate(-50%, -50%); }

.facebook__icon {
  width: 13px;
  height: 28px; }

.copyright {
  margin-top: 1.4em;
  color: #818081; }

@media (max-width: 1200px) {
  .banner {
    height: 26.6rem; }
  .banner__header {
    font-size: 4em; }
  .banner__text {
    font-size: 1.5em; }
  .banner__ellipse {
    font-size: 12px; }
  .footer__container {
    flex-direction: column; }
  .footer__social-and-copyright {
    position: static;
    margin-top: 2em; }
  .footer__submenu {
    flex-basis: 25%; }
  .footer__submenus {
    padding-left: 0px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 780px) {
  .page__container {
    padding: 0 3%; }
  .header {
    padding-bottom: 1.5em; }
    .header__container {
      padding-top: 1%; }
    .header__container {
      flex-wrap: wrap; }
    .header__nav {
      order: 1;
      width: 100%;
      padding-top: 0.5em; }
  .nav {
    justify-content: space-around; }
  .nav__item {
    padding: 0; }
  .banner {
    height: 100vh; }
    .banner__content {
      justify-content: center; }
  .propositions {
    padding-top: 1em; }
    .propositions__subheader {
      padding-left: 5px;
      text-indent: initial; }
    .propositions__circles {
      margin-top: 0; }
  .circles {
    flex-wrap: wrap;
    justify-content: space-around; }
    .circles__item {
      margin-top: 2em;
      width: 8.25em;
      height: 8.25em; }
  .news-feed {
    padding-top: 3em; }
  .news {
    flex-direction: column; }
    .news__content {
      width: 100%;
      padding: 1%; }
    .news__header {
      text-align: center; }
    .news__text {
      text-align: center; }
  .footer__submenus {
    flex-wrap: wrap; }
  .footer__submenu {
    flex-basis: 50%;
    margin-top: 2em; }
  .footer__social-and-copyright {
    margin-left: 0;
    margin-bottom: 1em; } }
