
@font-face {
    font-family: 'Lavanderia Regular';
    src: url("../font/Lavanderia/Lavanderia Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../font/SegoeUI/SegoeUI.eot');
	src: local('☺'), url('../font/SegoeUI/SegoeUI.woff') format('woff'), url('../font/SegoeUI/SegoeUI.ttf') format('truetype'), url('../font/SegoeUI/SegoeUI.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('../font/Alte Haas Grotesk/AlteHaasGroteskRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url('../font/Alte Haas Grotesk/AlteHaasGroteskBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT-Light';
    src: url('../font/Univers-LT-Light/Univers-LT-45-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
     -ms-border-radius: $radius;
         border-radius: $radius;
}

%position-center {
    position: absolute;
    top: 50%;
    left: 50%;
}

$footer-font-color: #818081;
$banner-height: 38rem;
$header-height: 5.4rem;

// Page
.page {
    max-width: 1920px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page__container {
    max-width: 960px;
    min-width: 300px;
    margin: 0px auto;
    height: 100%;
}
// Page end

// Header
.header {
    min-height: $header-height;
    background-color: rgba(255, 255, 255, 0.767);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

.header__container {
    align-items: center;
    display: flex;
}

.header__logo {
    margin-right: auto;
}

// Header end

// Logo
.logo {
    align-items: center;
}

.logo__word {
    font-family: 'Lavanderia Regular';
    font-size: 2.5em;
}

.logo__word--black {
    color: #000000;
}

.logo__word--pink {
    color: #b73958;
}
// Logo end

// Nav
.nav {
    display: flex;
}

.nav__item {
    padding-right: 2em;
}

.nav__link {
    color: #827f7f;
    text-decoration: none;
    font-family: 'Segoe UI';
}
// Nav end

// Login
.login {
    padding: 0.1em 0.9em;
    background-color: #de6d6e;
    @include border-radius(3px);
}

.login__text {
    color: white;
    font-family: 'Segoe UI';
}

.login__link {
    text-decoration: none;
}
// Login end

// Banner
.banner {
    height: $banner-height;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.banner__content {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: $header-height;
    padding-top: $header-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.banner__ellipse-wrapper {
    position: relative;
    width: 100%;
    height: 25%;
}
 
.banner__ellipse {
    background-color: rgba(255, 255, 255, 0.664);
    @include border-radius(50%);
}

.banner__ellipse--small {
    width: 5.1em;
    height: 5.1em;
    @extend %position-center;
    transform: translate(-50%,-50%);
}

.banner__ellipse--large {
    width: 7.3em;
    height: 7.3em;
    @extend %position-center;
    transform: translate(-100%,-50%);
}

.banner__ellipse--medium {
    width: 5.75em;
    height: 5.75em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%,-100%);
}

.banner__header {
    font-family: 'Alte Haas Grotesk';
    font-weight: bold;
    color: white;
    font-size: 5em;
    line-height: 1em;
    padding-top: 1.6rem;
    text-transform: uppercase;
}

.banner__text {
    color: white;
    font-size: 1.5em; 
    padding-top: 0.8rem;
    font-family: 'Univers LT-Light';
}


// Banner end

// Propositions
.propositions {
    text-align: center;
    font-family: 'Univers LT-Light';
    padding-top: 3em;
    padding-bottom: 2.5em;
    border-bottom: 2px solid #e9e9e9;

    &__header {
        font-size: 2em;
        font-family: inherit;
        color: #404040;
    }

    &__subheader {
        color: #acacac;
        height: 3.6em;
        line-height: 1.2em;
        overflow: hidden;
        margin-top: 1.3em;
        font-family: inherit;   
        word-wrap: break-word; 
        hyphens: auto;
        text-indent: -20%;
        padding-left: 20%;
        padding-right: 5%;
    }

    &__circles {
        margin-top: 5.3em;
    }
}

// Propositions end

// Circles 

.circles {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &__item {
        width: 11.25em;
        height: 11.25em;
        @include border-radius(50%);
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__item--tickets {
        background-color: #4eb9f4;
    }

    &__item--camera {
        background-color: #6fc125;
    }

    &__item--beer {
        background-color: #ff5649;
    }

    &__item--devices {
        background-color: #e48f23;
    }
}

// Circles end

// Circle 
.circle {
    &__content {
        position: absolute;
        bottom: 20%;
        flex-basis: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    &__img {
        width: 100%;
        display: block;
        min-width: 30px;
        height: auto;
    }

    &__img--beer {
        max-width: 68px;
        max-height: 85px;
    }

    &__description {
        color: white;
        margin-bottom: -0.4em;
    }

    &__description--beer {
        color: rgba(255, 255, 255, 0.452);
    }
}
// Circle end

// Text-over
.text-over {
    font-family: inherit;
    height: 7.5em;
    width: 100%;
    line-height: 1.2em;
    font-size: 0.75em;
    color: white;
    height: 85%;
    top: 4%;
    left: 0px;
    position: absolute;
    overflow: hidden; 
    overflow-wrap: break-word;
    text-align: left;
}
// Text-over end

// News-feed

.news-feed {
    padding: 2em 0em 2em 2em;
}
// News-feed end
// News
.news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
    &__img-wrapper {
        width: 15em;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__content {
        width: 74%;
        font-family: 'Univers LT-Light';
        padding-left: 1.7em;
    }

    &__header {
        font-size: 1.6em;
        margin-bottom: 0.3em;
        color: #404040;
    }

    &__text {
        color: #949494;
        hyphens: auto;
        line-height: 1.5em;
        font-size: 0.9em;
    }
}
// News end

// footer 
.footer {
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: auto;
    min-height: 16em;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__submenus {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        padding-left: 2em;
    }

    &__social-and-copyright {
        flex-basis: 30%;
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;  
        position: relative;
        top: -1.5em;     
    }
}

// footer end

// submenu
.submenu {

    &--wide {
        flex-basis: 19%;
    }

    &__header {
        color: $footer-font-color;
        font-size: 1.4em;
        margin-bottom: 0.5em;
    }

    &__item {
        text-decoration: none;
        color: $footer-font-color;
        font-size: 1em;
        line-height: 1.4em;
        display: block;
    }
}
// submenu end

// social 
.social {
    display: flex;
    justify-content: space-around;
    &__item {
        display: block;
        width: 3.25em;
        height: 3.25em;
        @include border-radius(50%);
        background-color: $footer-font-color;
        position: relative;
    }

    &__icon {
        position: absolute;
        @extend %position-center;
        transform: translate(-50%, -50%);
        
    }

}
// social end

// 

// 

.facebook__icon {
    width: 13px;
    height: 28px;
}

// copyright

.copyright {
    margin-top: 1.4em;
    color: $footer-font-color;
}
// copyright end

@media (max-width: 1200px) {

    .banner {
        height: $banner-height*0.7;
    }

    .banner__header {
        font-size: 4em;
    }
    .banner__text {
        font-size: 1.5em;
    }

    .banner__ellipse {
        font-size: 12px;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__social-and-copyright {
        position: static;
        margin-top: 2em;
    }

    .footer__submenu {
        flex-basis: 25%;
    }

    .footer__submenus {
        padding-left: 0px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    

}

@media (max-width: 780px) {

    .page__container {
        padding: 0 3%;
    }

    .header {

        padding-bottom: 1.5em;

        &__container {
            padding-top: 1%;
        }

        &__container {
            flex-wrap: wrap;
        }

        &__nav {
            order: 1;
            width: 100%;
            padding-top: 0.5em;
            
        }

    }

    .nav {
        justify-content: space-around;
    }

    .nav__item {
        padding: 0;

    }

    .banner {
        height: 100vh;

        &__content {
            justify-content: center;
        }

        &__header {
            font-size: 2em;
        }

        &__text {
            font-size: 1.3em;
        }
    }

    .propositions {
        padding-top: 1em;

        &__subheader {
            padding-left: 5px;
            text-indent: initial;
        }

        &__circles {
            margin-top: 0;
        }
    }

    .circles {
        flex-wrap: wrap;
        justify-content: space-around;

        &__item {
            margin-top: 2em;
            width: 8.25em;
            height: 8.25em;
        }

    }

    .news-feed {
        padding-top: 3em;
    }

    .news {
        flex-direction: column;

        &__content {
            width: 100%;
            padding: 1%;
        }

        &__header {
            text-align: center;
        }

        &__text {
            text-align: center;
        }
    }


    .footer__submenus {
        flex-wrap: wrap;
    }

    .footer__submenu {
        flex-basis: 50%;
        margin-top: 2em;
    }

    .footer__social-and-copyright {
        margin-left: 0;
        margin-bottom: 1em;
    }
}